.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.972656;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.727878px;}
._1{width:29.300000px;}
._2{width:36.300000px;}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:42.000000px;}
.fs5{font-size:80.000000px;}
.fs4{font-size:96.000000px;}
.fs6{font-size:102.000000px;}
.fs3{font-size:122.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:55.005941px;}
.y3{bottom:95.756285px;}
.ye{bottom:184.312073px;}
.yd{bottom:219.223480px;}
.y8{bottom:227.703476px;}
.y7{bottom:262.263481px;}
.yc{bottom:262.623421px;}
.y2{bottom:277.140053px;}
.yb{bottom:296.423424px;}
.y6{bottom:296.823486px;}
.y1{bottom:329.067635px;}
.y5{bottom:331.325100px;}
.ya{bottom:331.383484px;}
.yf{bottom:421.082680px;}
.y4{bottom:421.148369px;}
.h2{height:31.746094px;}
.h7{height:60.468750px;}
.h6{height:72.562500px;}
.h8{height:73.312500px;}
.h5{height:79.968750px;}
.h4{height:87.687500px;}
.h3{height:108.843750px;}
.h9{height:119.953125px;}
.h1{height:159.937500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x3{left:97.075043px;}
.x4{left:115.074982px;}
.x6{left:133.074982px;}
.x1{left:154.949951px;}
.x2{left:828.299980px;}
.x8{left:841.799799px;}
.xa{left:842.924799px;}
.x9{left:845.424799px;}
.x5{left:851.549797px;}
.x7{left:852.674797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.303837pt;}
._1{width:39.066667pt;}
._2{width:48.400000pt;}
.fs1{font-size:56.000000pt;}
.fs5{font-size:106.666667pt;}
.fs4{font-size:128.000000pt;}
.fs6{font-size:136.000000pt;}
.fs3{font-size:162.666667pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:73.341255pt;}
.y3{bottom:127.675046pt;}
.ye{bottom:245.749430pt;}
.yd{bottom:292.297974pt;}
.y8{bottom:303.604635pt;}
.y7{bottom:349.684642pt;}
.yc{bottom:350.164561pt;}
.y2{bottom:369.520070pt;}
.yb{bottom:395.231232pt;}
.y6{bottom:395.764648pt;}
.y1{bottom:438.756846pt;}
.y5{bottom:441.766800pt;}
.ya{bottom:441.844645pt;}
.yf{bottom:561.443573pt;}
.y4{bottom:561.531158pt;}
.h2{height:42.328125pt;}
.h7{height:80.625000pt;}
.h6{height:96.750000pt;}
.h8{height:97.750000pt;}
.h5{height:106.625000pt;}
.h4{height:116.916667pt;}
.h3{height:145.125000pt;}
.h9{height:159.937500pt;}
.h1{height:213.250000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x3{left:129.433390pt;}
.x4{left:153.433309pt;}
.x6{left:177.433309pt;}
.x1{left:206.599935pt;}
.x2{left:1104.399974pt;}
.x8{left:1122.399732pt;}
.xa{left:1123.899732pt;}
.x9{left:1127.233065pt;}
.x5{left:1135.399729pt;}
.x7{left:1136.899729pt;}
}
